body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-gradient(to bottom right, hsl(281, 20%, 30%), hsl(281, 14%, 15 */
    background: hsl(278, 57%, 74%);
}

h1 {
    font-size: 3.5rem;
    color: hsl(281, 14%, 27%);
}

.choices {
    margin-bottom: 30px;
}

.choices button {
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    /* border: none; */
    background-color: hsl(201, 32%, 16%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover {
    background-color: hsl(200, 100%, 70%);
}

#playerDisplay,
#computerDisplay {
    font-size: 2.5rem;
}

#resultDisplay {
    font-size: 5rem;
    margin: 30px 0;
}

.scoreDisplay {
    font-size: 2rem;
}

.green,
#playerscoreDisplay {
    color: hsl(140, 95%, 35%);
}

.red,
#computerscoreDisplay {
    color: hsl(0, 97%, 39%);
}