body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}

#myh1 {
    font-family: "Arial", "sana-serif";
    font-size: 4rem;
    color: hsl(0, 0%, 25%);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}

#display {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}

#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startbtn {
    background-color: hsl(240, 61%, 40%);
}

#startbtn:hover {
    background-color: hsl(240, 61%, 30%);
}

#stopbtn {
    background-color: hsl(0, 100%, 40%);
}

#stopbtn:hover {
    background-color: hsl(0, 100%, 30%);
}

#resetbtn {
    background-color: hsl(56, 100%, 40%);
}

#resetbtn:hover {
    background-color: hsl(56, 100%, 30%);
}