body {
    background-image: url(back.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: ; */
    background-attachment: fixed;
    margin: 0;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: beige;
    background-filter: blur(5px);
    background-color: hsla(0, -17%, 15%, 0.4);
    width: 30%;
}